@model onlineKredit.web.Models.KontoInformationenModel

@{
    ViewBag.Title = "KontoInformationen";
}

<h2>KontoInformationen</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ID_Kunde)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="auswahl">
            <div class="form-group">
                @Html.LabelFor(model => model.KontoNeu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.KontoNeu, new {  id = "NeuesKonto" })
                    </div>
                </div>
            </div>
        </div>
        <div id="test">
            <div class="form-group">
                @Html.LabelFor(model => model.Bankname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Bankname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bankname, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IBAN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IBAN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IBAN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BIC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BIC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BIC, "", new { @class = "text-danger" })
                </div>
            </div>

            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Weiter" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
        $(document).ready(function () {
            $('.form-horizontal .form-control').prop('disabled', $('#NeuesKonto').is(':checked'));
            $('#NeuesKonto').change(function () {
                $("#Bankname").val("Deutschebank AG");
                $("#IBAN").val("Neuer IBAN");
                $("#BIC").val("Neuer BIC");
                $('.form-horizontal .form-control').prop('disabled', $(this).is(':checked'));
                
            });
        });
</script>
}
