@model KreditrechnerLAP.web.Models.KreditRechnerModel

@{
    ViewBag.Title = "KreditRechner";
}

<h1>KreditRechner</h1>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ID_Kunde)
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Kreditbetrag, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Kreditbetrag, new { htmlAttributes = new {@id="example_id", @class = "form-control", @onChange="berechnen(); Zinsen1();" } })
                @Html.ValidationMessageFor(model => model.Kreditbetrag, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zeitraum, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Zeitraum, new { htmlAttributes = new {@id="example_id2", @class = "form-control",@onChange="berechnen(); Zinsen1();" } })
                @Html.ValidationMessageFor(model => model.Zeitraum, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Zinsen, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
               <input id="Zinsen" value="1.05" min="1.05" max="3.5" style="border:none; background-color:#FFF;width: 31px;"  disabled />%
            </div>
        </div>*@
        <div class="col-md-12" style="text-align:center;">
            <div class="ratedisplay">
                <span id="ergebnis" >83.33</span> €
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Beantragen" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
        
//Ergebnis slider 1
        $(document).ready(function () {
            var $range = $("#example_id"),
                $result = $("#result_1");

            var track = function (data) {
                $result.html("Value: " + data.from);

                var $test = 4000;

            };
            

            $range.ionRangeSlider({
                type: "single",
                grid: true,
                min: 3000,
                max: 40000,
                //from: $test,
                step: 500,
                postfix: " €",
                onStart: track,
                onChange: track,
                onFinish: track,
                onUpdate: track
            });
        });

    //ergebnis Slider 2
        $(document).ready(function () {
            var $range = $("#example_id2"),
                $result = $("#result_2");

            var track = function (data) {
                $result.html("Value: " + data.from);
            };

            $range.ionRangeSlider({
                type: "single",
                grid: true,
                min: 12,
                max: 120,
                //from: 60,
                step: 6,
                postfix: " Monate",
                onStart: track,
                onChange: track,
                onFinish: track,
                onUpdate: track
            });
        });

//Raten Berechnung
function berechnen() {
    var kredit = parseInt(document.getElementById('example_id').value);
    var monat = parseInt(document.getElementById('example_id2').value);
    //var zinsen = parseFloat(document.getElementById('Zinsen').value);
    //erg = Math.round(((  (kredit/100) * zinsen + kredit) /monat) * 100) / 100;

    erg = Math.round(kredit / monat);
     

    document.getElementById('ergebnis').innerHTML = erg;
   
}

////Zinsen ermittlung 
//function Zinsen1() {
//    var kredit = document.getElementById('example_id').value;
//    var erg = 1.05;
//    if (kredit <= 10000) {
//        erg = 2.5;
//    }
//    else if (kredit <= 20000){
//        erg = 2.0;
//    }
//    else if (kredit <= 30000){
//        erg = 1.5;
//        }
//    document.getElementById('Zinsen').value = erg;
//}


</script>
}