@model onlineKredit.web.Models.ZusammenfassungModel

@{
    ViewBag.Title = "Zusammenfassung";
}

<h2>Zusammenfassung</h2>

<div class="container">
    <div class="row">
        <div>

            @*Kreditrechner*@
            <div class="col-md-12"><hr /></div>
            <div class="col-md-12"><h3>Kreditrahmen</h3></div>

            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.GewünschterBetrag)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.GewünschterBetrag)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Laufzeit)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Laufzeit)
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Ändern", "KreditRechner", "KreditRechner", new { id = Model.ID_Kunde }, new { @class = "btn btn-default" })
            </div>

            @*Finanzielles*@
            <div class="col-md-12"><hr /></div>
            <div class="col-md-12">
                <h3>Finanzielle Situation</h3>
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.NettoEinkommen)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.NettoEinkommen)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Wohnkosten)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Wohnkosten)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.EinkünfteAlimenteUnterhalt)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.EinkünfteAlimenteUnterhalt)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.UnterhaltsZahlungen)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.UnterhaltsZahlungen)
            </div>

            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.RatenVerpflichtungen)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.RatenVerpflichtungen)
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Ändern", "Finanzielles", "KreditRechner", new { id = Model.ID_Kunde }, new { @class = "btn btn-default" })
            </div>
            @*Persönlich*@
            <div class="col-md-12"><hr /></div>
            <div class="col-md-12">
                <h3>Persönliche daten</h3>
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Geschlecht)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Geschlecht)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Vorname)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Vorname)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
               @Html.DisplayNameFor(model => model.Nachname)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Nachname)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Titel)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Titel)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.GeburtsDatum)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.GeburtsDatum)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Staatsbuergerschaft)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Staatsbuergerschaft)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.AnzahlUnterhaltspflichtigeKinder)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.AnzahlUnterhaltspflichtigeKinder)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Familienstand)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Familienstand)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Wohnart)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Wohnart)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Bildung)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Bildung)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Identifikationsart)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Identifikationsart)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.IdentifikationsNummer)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.IdentifikationsNummer)
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Ändern", "PersoenlicheDaten", "KreditRechner", new { id = Model.ID_Kunde }, new { @class = "btn btn-default" })
            </div>

            @*Arbeitgeber*@

            <div class="col-md-12"><hr /></div>
            <div class="col-md-12">
                <h3>Arbeitgeber</h3>
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.FirmenName)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.FirmenName)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.BeschäftigungsArt)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.BeschäftigungsArt)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Branche)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Branche)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.BeschäftigtSeit)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.BeschäftigtSeit)
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Ändern", "Arbeitgeber", "KreditRechner", new { id = Model.ID_Kunde }, new { @class = "btn btn-default" })
            </div>

            @*Kontaktdaten*@

            <div class="col-md-12"><hr /></div>
            <div class="col-md-12">
                <h3>Kontaktdaten</h3>
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Strasse)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Strasse)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Hausnummer)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Hausnummer)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Ort)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Anzeige)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.Mail)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Mail)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.TelefonNummer)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.TelefonNummer)
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Ändern", "Kontaktdaten", "KreditRechner", new { id = Model.ID_Kunde }, new { @class = "btn btn-default" })
            </div>

            @*Kontoktdaten*@

            <div class="col-md-12"><hr /></div>
            <div class="col-md-12">
                <h3>Kontodaten</h3>
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.NeuesKonto)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.NeuesKonto)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.BankName)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.BankName)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.IBAN)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.IBAN)
            </div>
            <div class="col-md-offset-2"></div>
            <div class="col-md-4">
                @Html.DisplayNameFor(model => model.BIC)
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.BIC)
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Ändern", "KontoInformationen", "KreditRechner", new { id = Model.ID_Kunde }, new { @class = "btn btn-default" })
            </div>
            

        </div>
    </div>
    <hr />
    <h3>Einverständnis-Erklärung</h3>
    @using (Html.BeginForm("Beantragen", "KreditRechner", FormMethod.Post))
            {
        <div class="row">
            <div class="col-md-3" style="text-align: right">
            </div>
            <div class="col-lg-6 col-md-6">
                <input type="checkbox" name="bestätigt" value="true" />
                Ich bestätige hiermit die Richtigkeit der Angaben und ersuche um Ausarbeitung
                eines Kredit-Antrages
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-4 col-md-offset-4 col-lg-3 col-md-3">

                @Html.AntiForgeryToken()
                @Html.Hidden("id", Model.ID_Kunde)
                <input class="btn btn-default" type="submit" value="Bestätigen">
            </div>
        </div>
    }
</div>


